<html ng-app='DG' ng-csp=''>
<head>
  <meta charset="utf-8">
  <title>Magic Analyzer</title>
  <link rel="stylesheet" type="text/css"
        href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css"
        href="lib/font-awesome/css/font-awesome.css">

  <style>
    img.cardArt {
      width:260;
      height: 372;
    }
    .card {
      font-style: bold;
      float: left;
    }
  </style>
</head>

<body>
  <script src='lib/angular.js'></script>
  <script src="lib/jsparse.js"></script>
  <script src="src/service.js"></script>
  <script src="src/model.js"></script>
  <script src="src/controller.js"></script>


  <div ng-controller="CardSet">
    <input ng-model="search"></input>
    <div>
      <strong>{{cards.length}}</strong> cards<span ng-show="search.length">
        match your search</span>.
    </div>
    <hr>
    <h4>Stats</h4>
    <div class="facet">
      <label>Converted Mana Cost:</label>
      <ul>
        <li ng-repeat="cmcCount in cmcHistogram">
          {{cmcCount[0]}} – {{cmcCount[1]}}
        </li>
      </ul>
    </div>
    <h3>Cards</h3>
    <div ng-repeat="card in cards.slice(0,50)" class="card">
      <!-- <h4><a href="{{card.link}}">{{card.name}}</a></h4> -->
      <a href="{{card.link}}"><img class="cardArt" src="{{card.image}}"></a>
      <!-- <pre>{{card.toJson(card)}}</pre> -->

<!--       <div>
        {{card.type}}

        <span ng-show="card.castingCost"> {{card.castingCost}}</span>
        <br>
        <b>{{card.abilities.join("&lt;br>")}}</b>
        <br>
        <i>{{card.flavorText}}</i>
        <hr>
      </div> -->
    </div>
  </div>
</body>
</html>
