<html ng-app='DG' ng-csp=''>
<head>
  <meta charset="utf-8">
  <title>Magic Analyzer</title>
  <link rel="stylesheet" type="text/css"
        href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css"
        href="lib/font-awesome/css/font-awesome.css">

  <style>
    .cardSet {
      margin: 20px;
    }
    img.cardArt {
      width:260;
      height: 372;
    }
    .card {
      font-style: bold;
      float: left;
    }
    .facet {
      float: left;
      margin-right: 15px;
    }
    .facet td {
      padding-right: 20px;
    }
    .endStats {
      clear: both;
    }
  </style>
</head>

<body>

  <div class="cardSet" ng-controller="CardSet" when-scrolled='onScrolledToBottom()'>
    <input ng-model="search"></input>
    <div>
      <strong>{{cards.length}}</strong> cards<span ng-show="search.length">
        match your search</span>.
    </div>
    <hr>
    <h4>Stats</h4>
    <div class="facet">
      <label>Converted Mana Cost:</label>
      <table>
        <tr ng-repeat="cmcCount in cmcHistogram">
          <td>{{cmcCount[0]}}</td><td>{{cmcCount[1]}}</td>
        </tr>
      </table>
    </div>
    <div class="facet">
      <label>Rarity:</label>
      <table>
        <tr ng-repeat="rarityCount in rarityHistogram">
          <td>{{rarityCount[0]}}</td><td>{{rarityCount[1]}}</td>
        </tr>
      </table>
    </div>
    <div class="endStats"></div>
    <h3>Cards</h3>
    <div ng-repeat="card in cards.slice(0,limit)" class="card">
      <!-- <h4><a href="{{card.link}}">{{card.name}}</a></h4> -->
      <a href="{{card.link}}"><img class="cardArt" ng-src="{{card.image}}"></a>
      <!-- <pre>{{card.toJson(card)}}</pre> -->

<!--       <div>
        {{card.type}}

        <span ng-show="card.castingCost"> {{card.castingCost}}</span>
        <br>
        <b>{{card.abilities.join("&lt;br>")}}</b>
        <br>
        <i>{{card.flavorText}}</i>
        <hr>
      </div> -->
    </div>
  </div>

  <script src='lib/angular.js'></script>
  <script src="lib/jsparse.js"></script>
  <script src="src/service.js"></script>
  <script src="src/model.js"></script>
  <script src="src/controller.js"></script>
</body>
</html>
