<html ng-app='DG' ng-csp=''>
<head>
  <meta charset="utf-8">
  <title>Dragogenius</title>
  <link rel="stylesheet" type="text/css"
        href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css"
        href="lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css"
        href="lib/angular-ui.css">

  <style>
    .cardSet {
      margin: 20px;
    }
    img.cardArt {
      width:260;
      height: 372;
    }
    .card {
      font-style: bold;
      float: left;
    }
    .facet {
      float: left;
      margin-right: 15px;
    }
    .facet td {
      padding-right: 20px;
    }
    .endStats {
      clear: both;
    }
    .hugeCardArt {
      width: 450px;
      height: 644px;
    }
    .tagEnterer {
      width: 450px;
      margin-top: 5px;
    }
    .singleCardTaggingPanel {
      position: absolute;
      width:100%;
    }
    .floatingInfo {
      position: absolute;
      right: 30px;
      top: 30px;
      font-size: 150%;
    }
    header h2 {
      display:inline;
    }
    header button {
      margin-left: 15px;
      margin-bottom: 15px;
      font-size: 165%;
    }
    span.brand {
      cursor: default;
    }
  </style>
</head>

<body>

  <div class="cardSet" ng-controller="CardSet"
       when-scrolled='onScrolledToBottom()'>

    <div class="navbar">
      <div class="navbar-inner">
        <span class="brand" href="#">Dracogenius</span>
        <ul class="nav">
          <li ng-class="{'search':'active'}[mode]"><a ng-click="mode = 'search'" href="#">Search</a></li>
          <li ng-class="{'deck':'active'}[mode]"><a ng-click="mode = 'deck'" href="#">Deck</a></li>
          <li ng-class="{'tag':'active'}[mode]"><a ng-click="mode = 'tag'" href="#">Tag</a></li>
          <li ng-class="{'config':'active'}[mode]"><a ng-click="mode = 'config'" href="#">Config</a></li>
        </ul>
      </div>
    </div>

    <section class="searchPanel" ng-show="mode == 'search'">
      <input ng-model="search"></input>
      <div>
        <strong>{{cards.length}}</strong> cards<span ng-show="search.length">
          match your search</span>.
      </div>
      <div ng-show="search.length">
        <hr>
        Tag {{cards.length}} cards:
        <input ng-model="groupTag" ui-keypress="{'enter':'addGroupTag()'}">
        </input>
        <button ng-click='addGroupTag()'>Add</button>
        <button ng-click='removeGroupTag()'>Remove</button>
      </div>


      <hr>
      <h4>Stats</h4>
      <div class="facet">
        <label>Converted Mana Cost:</label>
        <table>
          <tr ng-repeat="cmcCount in cmcHistogram">
            <td>{{cmcCount[0]}}</td><td>{{cmcCount[1]}}</td>
          </tr>
        </table>
      </div>
      <div class='facet'>
        <label>Color:</label>
        <table>
          <tr ng-repeat="colorCount in colorHistogram">
            <td>{{colorCount[0]}}</td><td>{{colorCount[1]}}</td>
          </tr>
        </table>
      </div>
      <div class="facet">
        <label>Rarity:</label>
        <table>
          <tr ng-repeat="rarityCount in rarityHistogram">
            <td>{{rarityCount[0]}}</td><td>{{rarityCount[1]}}</td>
          </tr>
        </table>
      </div>
      <div class='facet'>
        <label>Tags:</label>
        <table>
          <tr ng-repeat="tagCount in tagHistogram">
            <td>{{tagCount[0]}}</td><td>{{tagCount[1]}}</td>
          </tr>
        </table>
      </div>

      <div class="endStats"></div>

      <!-- <select ng-model='viewStyle' style='float:right;'>
        <option value="cardImage">Card Images</option>
        <option value="shortText">One Line Text</option>
      </select> -->
      <h3>Cards</h3>
      <div ng-repeat="card in cards.slice(0,limit)" class="card">
        <!-- <h4><a href="{{card.link}}">{{card.name}}</a></h4> -->
        <a href="{{card.link}}"><img class="cardArt" ng-src="{{card.image}}"></a>
        <!-- <pre>{{card.toJson(card)}}</pre> -->

  <!--       <div>
          {{card.type}}

          <span ng-show="card.castingCost"> {{card.castingCost}}</span>
          <br>
          <b>{{card.abilities.join("&lt;br>")}}</b>
          <br>
          <i>{{card.flavorText}}</i>
          <hr>
        </div> -->
      </div>
    </section>

    <section class='deckEditor' ng-show="mode == 'deck'">
      <h4>Deck Editor</h4>
      <textarea ng-model='decktext' style='width:50%; height:800px'></textarea>
    </section>

    <section class="singleCardTaggingPanel" ng-show="mode == 'tag'">
      <center>
        <div>
          <a href="{{tagCard.link}}" target="_blank">
            <img ng-src="{{tagCard.image}}" class='hugeCardArt'>
          </a>
          <br>
          <input ng-model="tagCardTagString" autofocus="autofocus"
                 ui-keypress="{'enter':'tagEntered($event, 1)', 'shift-enter': 'tagEntered($event, -1)'}"
                 class="tagEnterer"></input>
          <br>
          <div>
            {{(tagCardIndex % cards.length) + 1}} / {{cards.length}}
          </div>
        </div>
      </center>
      <table class='floatingInfo'>
        <tr ng-repeat="tagCount in tagHistogram">
          <td>{{tagCount[0]}}</td><td>{{tagCount[1]}}</td>
        </tr>
      </table>
    </section>

    <section class="config" ng-show="mode == 'config'">
      <h4>Your tag data (copy this out for backup):</h4>
      <textarea style='width:500px; height:300px;'>{{tags | pretty}}</textarea>
    </section>

  </div>

  <script src='lib/angular.js'></script>
  <script src='lib/angular-ui.js'></script>
  <script src="lib/jsparse.js"></script>
  <script src="src/service.js"></script>
  <script src="src/model.js"></script>
  <script src="src/controller.js"></script>
  <script src="src/utils.js"></script>
</body>
</html>
